<div class="table-responsive-md  " >  
    <table class="table table-striped table-bordered  table-hover " >
        <thead>
            <tr >
                <th  *ngFor="let campo of titulos" class="centrado" [width]="ancho">{{campo}}</th>
                <th class="centrado">Opciones </th>
            </tr>    
                          
        </thead>
    </table>
    <div id="div1">

        <table class='table table-striped' aria-labelledby="tableLabel" >
            <tbody>
                <tr *ngFor="let datos of arraydatos  | paginate:  { id:id, itemsPerPage: config.itemsPerPage, currentPage: config.currentPage, totalItems: config.totalItems }  ">

                    <td *ngFor="let campo of campos" class="centrado" [width]="ancho" >{{datos[campo]}}</td>   
                    <td *ngIf="selected" class="centrado">                        
                        <button class="btn" (click)="opcion(datos,'selected')"><i class="fa fa-check"></i></button>                        
                        
                    </td>  
                    <td *ngIf="!selected" class="centrado">                        
                        <button class="btn" (click)="opcion(datos,'edit')"><i class="fa fa-edit"></i></button>                        
                        <button class="btn" (click)="opcion(datos,'del')"><i class="fa fa-trash"></i></button>
                    </td>                      
                </tr>      
                                        
            </tbody>
        </table> 
    </div>
    
<pagination-controls 
id="{{id}}"
[maxSize]="config.itemsPerPage"
[directionLinks]="true"
[autoHide]="true"
[responsive]="true"
[previousLabel]="labels.previousLabel"
[nextLabel]="labels.nextLabel"
[screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
[screenReaderPageLabel]="labels.screenReaderPageLabel"
[screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
(pageChange)="onPageChange($event)"></pagination-controls>  
</div>