
<div class="formulario col-sm-12 col-md-12 col-lg-12 col-xl-12 shadow p-3 mb-5 bg-body rounded">      
        <h1> <label style="font-size:50px;margin-top: 10px;">Agenda </label></h1>
        <form novalidate  [formGroup]="formGroup"> 
        <table class='table ' aria-labelledby="tableLabel" style="width:100%" >
            <tbody>
                <tr >
                    <td style="width:10%"><label for="curso">Numero</label></td>
                    <td style="width:70%"> <input type="text" class="form-control" id="id" readonly formControlName="id" /></td>                    
                </tr>                
                <tr >
                    <td style="width:10%"><label for="alumno"> Fecha</label></td>
                    <td style="width:70%"> <input type="date" class="form-control" id="Fecha" readonly formControlName="fecha" /></td>                    
                </tr>
                <tr >
                    <td style="width:10%"><label for="curso">
                         Supervisor
                         <span class="obligatorio">*</span></label>
                        </td>
                    
                    <td style="width:70%"> <input type="text" class="form-control" id="curso" required formControlName="curso" /></td>
                    <button class="btn btn-outline-success" data-bs-toggle="modal" 
                    data-bs-target="#exampleModal" (click)="selecionarSupervisor()">
                    Buscar Supervisor
            </button>
                    
                </tr>
                 
            
                

            </tbody>
        </table>
                
        <div class="d-grid gap-2 ">
            <button class="btn btn-outline-success" data-bs-toggle="modal" 
                    data-bs-target="#exampleModal" (click)="agregar()">
              Agregar Sucursal / Proceso
            </button>
          </div>
          <app-tables 
          [arraydatos]="productdatos"
          campokey="id"
          (accion)="opcion($event)"
          (paginacambio)="paginacambio($event)"
          (idtable)="actualizaelidtable($event)" 
          [campos]="camposdetalle"
          [titulos]="tituloslocaldetalle"
          [deleted]="true"
          [term]="term"
          [totalregistros]="productdatos.length"
          [currentPage]="config.currentPage"
          [config]="config"
          
        ></app-tables>      
      </form>
      <div class="text-center pt-1 mb-5 pb-1">
        <div class="d-grid gap-2">
         <button class="btn btn-success btn-block mb-3" (click)="grabar()" type="summit"> Grabar</button>
         <button class="btn btn-secondary btn-block" type="button" (click)="cancelar()"  >Cancelar</button>
        </div>
    </div>
      <p class="aviso">
        <span class="obligatorio"> * </span>los campos son obligatorios.
      </p> 
   
</div>
   
  
