
<div class="formulario col-sm-12 col-md-12 col-lg-12 col-xl-12 shadow p-3 mb-5 bg-body rounded">      
    <h1> <label style="font-size:50px;margin-top: 10px;">Supervición Proceso </label></h1>
    <form novalidate  [formGroup]="formGroup"> 
    <table class='table table-striped table-bordered  table-hover  ' aria-labelledby="tableLabel" style="width:100%" >
        <tbody>
            <tr >
                <td style="width:10%"><label for="agenda_id">Agenda #</label></td>
                <td style="width:70%">   
                  <input type="text" class="form-control" readonly formControlName="agenda_id">
                </td>                    
    
            </tr>  
            <tr >
                <td style="width:10%"><label for="supervisor">Supervisor</label></td>
                <td style="width:70%">   
                  <input type="text" class="form-control" readonly formControlName="supervisor">
                </td>                    
    
            </tr>  
            <tr >
                <td style="width:10%"><label for="sucursal">Sucursal</label></td>
                <td style="width:70%">   
                  <input type="text" class="form-control" readonly formControlName="sucursal">
                </td>                    
    
            </tr>               
            <tr >
                <td style="width:10%"><label for="proceso">Proceso</label></td>
                <td style="width:70%">   
                  <input type="text" class="form-control" readonly formControlName="proceso">
                </td>                    
            </tr> 
            <tr >
                <td style="width:50%">
                    <button class="btn btn-outline-success" data-toggle="modal" data-bs-target="#exampleModal" (click)="selecionarSupervisor()">
                    Generar Clientes para expedientes</button>
                </td>
                <td>
                    <label>Cantidad de Expedientes</label>
                    <input type="text" class="form-control" >
                </td>
            </tr>        
        </tbody>
    </table>
    <div class="table-responsive-md  " >  
         <table class="table table-striped table-bordered  table-hover " >
            <thead>
                <tr >
                    <th class="centrado" width="20%" >Cliente </th>
                    <th  *ngFor="let campo of agenda.modeloagendasucursal.proceso?.proceso_Parametros" class="centrado" [width]="auto">{{campo.parametro_nombre}}</th>
                    
                </tr>    
                              
            </thead>
        </table>
         <div id="div1">
    
           <table class='table table-striped' aria-labelledby="tableLabel" >
                <tbody>
                    
                    <tr *ngFor="let datos of agenda.campos ">
                        <ng-container *ngFor="let d of agenda.fields">
                            <td *ngIf="d=='clientes'"  class="centrado" width="20%"
                            >{{datos[d]}}</td>
                            <ng-container *ngIf="d!='codigocliente'">
                                <!-- <td *ngIf="d!='clientes' && datos[d] != undefined"  class="centrado" [width]="auto"
                                    [ngClass]="{'verificado': (datos[d].split(',')[0]=== "true"), 'no-verificado': (datos[d].split(',')[0]!="true")}">                        
                                    <input type="checkbox" (click)="cambiarestado(datos[d],datos,d)" [checked]="datos[d].split(',')[0]">
                                </td>                             -->
                                <td *ngIf="d!='clientes' && datos[d] != null" class="centrado" [width]="auto"
                                    [ngClass]="{'verificado': (datos[d].split(',')[0] === 'true'), 'no-verificado': (datos[d].split(',')[0] != 'true')}">
                                    <input type="checkbox" (click)="cambiarestado(datos[d], datos, d)" [checked]="datos[d].split(',')[0] === 'true'">
                                </td>
                            </ng-container>
                        </ng-container>
                                         
                    </tr>      
                
                </tbody>
            </table> 
        </div> 


    </div>    
        
  </form>
  <div class="text-center pt-1 mb-5 pb-1">
    <div class="d-grid gap-2">
     <button class="btn btn-success btn-block mb-3" (click)="grabar()" type="summit"> Grabar</button>
     <button class="btn btn-secondary btn-block" type="button" (click)="cancelar()"  >Cancelar</button>
    </div>
</div>
  <p class="aviso">
    <span class="obligatorio"> * </span>los campos son obligatorios.
  </p> 
<!-- {{model| json}}  -->
</div>



